.menupage {
    background-color: #fff;
}


.item_category {
    text-align: center;
    padding: .5rem;
    border: 1px solid #cccccc;
}

.item_ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    padding: 0 .5rem .5rem;
    overflow:auto;
}

.item_container {
    background-color: azure;
    width: auto;
    height: auto;
    border-radius: .5rem;
    overflow: hidden;
    margin-top: .5rem;
}

.item_container:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.item_inner {
    padding: 0;
    margin: 0;
}

.item_title {
    font-weight: bold;
    padding-left: .5rem;
}

.item_price {
    text-align: right;
    padding-right: .5rem;
}

.item_image {
    width: 114px;
    height: 114px;
}

.item_link {
    text-decoration: none;
    color: black;
}